<a href='/' style="text-align: center; text-decoration: none;">
  <h1 style="color: black;" class="shadow-lg m-2 p-2">
    <%= image_tag "vending_machine.jpg", size: "100x100"%>
    The Vending Machine
  </h1>
</a>
